In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv("trai.csv")
test=pd.read_csv("tes.csv")

In [3]:
train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
test.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [5]:
test.shape

(23490, 13)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le=LabelEncoder()

In [8]:
le.fit(train['gender'])
le.fit(test['gender'])

train["gender"]=le.transform(train["gender"])
test["gender"]=le.transform(test["gender"])

In [9]:
train.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [10]:
train["education"]=train.education.fillna(train["education"].mode()[0])
test["education"]=test.education.fillna(test["education"].mode()[0])

In [11]:
train["previous_year_rating"]=train.previous_year_rating.fillna(train["previous_year_rating"].mean())
test["previous_year_rating"]=test.previous_year_rating.fillna(test["previous_year_rating"].mean())

In [12]:
train["education"].unique()

array(["Master's & above", "Bachelor's", 'Below Secondary'], dtype=object)

In [13]:
train["region"].unique()

array(['region_7', 'region_22', 'region_19', 'region_23', 'region_26',
       'region_2', 'region_20', 'region_34', 'region_1', 'region_4',
       'region_29', 'region_31', 'region_15', 'region_14', 'region_11',
       'region_5', 'region_28', 'region_17', 'region_13', 'region_16',
       'region_25', 'region_10', 'region_27', 'region_30', 'region_12',
       'region_21', 'region_8', 'region_32', 'region_6', 'region_33',
       'region_24', 'region_3', 'region_9', 'region_18'], dtype=object)

In [14]:
train["region"]=train.region.str.extract('(\d+)')
train["region"]=train.region.astype(float)
test["region"]=test.region.str.extract('(\d+)')
test["region"]=test.region.astype(float)

In [15]:
train["recruitment_channel"].nunique()

3

In [16]:
train["region"].nunique()

34

In [17]:
train["department"].nunique()

9

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  float64
 3   education             54808 non-null  object
 4   gender                54808 non-null  int32
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  54808 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(2), int32(1), int64(8), object(3)
memory usage: 5.6+ MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           23490 non-null  int64
 1   department            23490 non-null  object
 2   region                23490 non-null  float64
 3   education             23490 non-null  object
 4   gender                23490 non-null  int32
 5   recruitment_channel   23490 non-null  object
 6   no_of_trainings       23490 non-null  int64
 7   age                   23490 non-null  int64
 8   previous_year_rating  23490 non-null  float64
 9   length_of_service     23490 non-null  int64
 10  KPIs_met >80%         23490 non-null  int64
 11  awards_won?           23490 non-null  int64
 12  avg_training_score    23490 non-null  int64
dtypes: float64(2), int32(1), int64(7), object(3)
memory usage: 2.2+ MB

In [20]:
train=pd.get_dummies(train,columns=['recruitment_channel'])
test=pd.get_dummies(test,columns=['recruitment_channel'])
train=pd.get_dummies(train,columns=['education'])
test=pd.get_dummies(test,columns=['education'])

In [21]:
train=pd.get_dummies(train,columns=['department'])
test=pd.get_dummies(test,columns=['department'])

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employee_id                   23490 non-null  int64
 1   region                        23490 non-null  float64
 2   gender                        23490 non-null  int32
 3   no_of_trainings               23490 non-null  int64
 4   age                           23490 non-null  int64
 5   previous_year_rating          23490 non-null  float64
 6   length_of_service             23490 non-null  int64
 7   KPIs_met >80%                 23490 non-null  int64
 8   awards_won?                   23490 non-null  int64
 9   avg_training_score            23490 non-null  int64
 10  recruitment_channel_other     23490 non-null  uint8
 11  recruitment_channel_referred  23490 non-null  uint8
 12  recruitment_channel_sourcing  23490 non-null  uint8
 13  education_Bachelor's          23490 non-null  uint8
 14  education_Below Secondary     23490 non-null  uint8
 15  education_Master's & above    23490 non-null  uint8
 16  department_Analytics          23490 non-null  uint8
 17  department_Finance            23490 non-null  uint8
 18  department_HR                 23490 non-null  uint8
 19  department_Legal              23490 non-null  uint8
 20  department_Operations         23490 non-null  uint8
 21  department_Procurement        23490 non-null  uint8
 22  department_R&D                23490 non-null  uint8
 23  department_Sales & Marketing  23490 non-null  uint8
 24  department_Technology         23490 non-null  uint8
dtypes: float64(2), int32(1), int64(7), uint8(15)
memory usage: 2.0 MB

In [23]:
y=train["is_promoted"]
x=train.drop(['is_promoted'],axis=1)

In [68]:
x.shape

(54808, 25)

In [70]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employee_id                   54808 non-null  int64
 1   region                        54808 non-null  float64
 2   gender                        54808 non-null  int32
 3   no_of_trainings               54808 non-null  int64
 4   age                           54808 non-null  int64
 5   previous_year_rating          54808 non-null  float64
 6   length_of_service             54808 non-null  int64
 7   KPIs_met >80%                 54808 non-null  int64
 8   awards_won?                   54808 non-null  int64
 9   avg_training_score            54808 non-null  int64
 10  recruitment_channel_other     54808 non-null  uint8
 11  recruitment_channel_referred  54808 non-null  uint8
 12  recruitment_channel_sourcing  54808 non-null  uint8
 13  education_Bachelor's          54808 non-null  uint8
 14  education_Below Secondary     54808 non-null  uint8
 15  education_Master's & above    54808 non-null  uint8
 16  department_Analytics          54808 non-null  uint8
 17  department_Finance            54808 non-null  uint8
 18  department_HR                 54808 non-null  uint8
 19  department_Legal              54808 non-null  uint8
 20  department_Operations         54808 non-null  uint8
 21  department_Procurement        54808 non-null  uint8
 22  department_R&D                54808 non-null  uint8
 23  department_Sales & Marketing  54808 non-null  uint8
 24  department_Technology         54808 non-null  uint8
dtypes: float64(2), int32(1), int64(7), uint8(15)
memory usage: 4.8 MB

In [74]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employee_id                   23490 non-null  int64
 1   region                        23490 non-null  float64
 2   gender                        23490 non-null  int32
 3   no_of_trainings               23490 non-null  int64
 4   age                           23490 non-null  int64
 5   previous_year_rating          23490 non-null  float64
 6   length_of_service             23490 non-null  int64
 7   KPIs_met >80%                 23490 non-null  int64
 8   awards_won?                   23490 non-null  int64
 9   avg_training_score            23490 non-null  int64
 10  recruitment_channel_other     23490 non-null  uint8
 11  recruitment_channel_referred  23490 non-null  uint8
 12  recruitment_channel_sourcing  23490 non-null  uint8
 13  education_Bachelor's          23490 non-null  uint8
 14  education_Below Secondary     23490 non-null  uint8
 15  education_Master's & above    23490 non-null  uint8
 16  department_Analytics          23490 non-null  uint8
 17  department_Finance            23490 non-null  uint8
 18  department_HR                 23490 non-null  uint8
 19  department_Legal              23490 non-null  uint8
 20  department_Operations         23490 non-null  uint8
 21  department_Procurement        23490 non-null  uint8
 22  department_R&D                23490 non-null  uint8
 23  department_Sales & Marketing  23490 non-null  uint8
 24  department_Technology         23490 non-null  uint8
dtypes: float64(2), int32(1), int64(7), uint8(15)
memory usage: 2.0 MB

In [73]:
test=test.drop(["is_promoted"],axis=1)

In [69]:
test.shape

(23490, 26)

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
y_test

40907    0
51939    0
6978     0
12814    0
22921    0
        ..
3458     0
26056    0
29981    0
44352    0
18295    0
Name: is_promoted, Length: 10962, dtype: int64

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
base=RandomForestClassifier(n_estimators=100,random_state=500)

In [29]:
base.fit(x_train,y_train)

RandomForestClassifier(random_state=500)

In [43]:
from sklearn.ensemble import AdaBoostClassifier

In [44]:
reg=AdaBoostClassifier(base,n_estimators=10,learning_rate=0.2,random_state=42)

In [45]:
reg.fit(x_train,y_train)

AdaBoostClassifier(base_estimator=RandomForestClassifier(random_state=500),
                   learning_rate=0.2, n_estimators=10, random_state=42)

In [80]:
reg.fit(x_test,y_test)

AdaBoostClassifier(base_estimator=RandomForestClassifier(random_state=500),
                   learning_rate=0.2, n_estimators=10, random_state=42)

In [81]:
reg.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
r2_score()

In [57]:
r=reg.predict(x_train)

In [58]:
r2_score(y_train,r)

1.0

In [30]:
y=base.predict(x_train)

In [31]:
from sklearn.metrics import r2_score

In [32]:
r2_score(y_train,y)

0.999709096187877

In [33]:
sam=pd.read_csv("sample.csv")
sam.head()

   employee_id  is_promoted
0         8724            0
1        74430            0
2        72255            0
3        38562            0
4        64486            0

In [65]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employee_id                   23490 non-null  int64
 1   region                        23490 non-null  float64
 2   gender                        23490 non-null  int32
 3   no_of_trainings               23490 non-null  int64
 4   age                           23490 non-null  int64
 5   previous_year_rating          23490 non-null  float64
 6   length_of_service             23490 non-null  int64
 7   KPIs_met >80%                 23490 non-null  int64
 8   awards_won?                   23490 non-null  int64
 9   avg_training_score            23490 non-null  int64
 10  recruitment_channel_other     23490 non-null  uint8
 11  recruitment_channel_referred  23490 non-null  uint8
 12  recruitment_channel_sourcing  23490 non-null  uint8
 13  education_Bachelor's          23490 non-null  uint8
 14  education_Below Secondary     23490 non-null  uint8
 15  education_Master's & above    23490 non-null  uint8
 16  department_Analytics          23490 non-null  uint8
 17  department_Finance            23490 non-null  uint8
 18  department_HR                 23490 non-null  uint8
 19  department_Legal              23490 non-null  uint8
 20  department_Operations         23490 non-null  uint8
 21  department_Procurement        23490 non-null  uint8
 22  department_R&D                23490 non-null  uint8
 23  department_Sales & Marketing  23490 non-null  uint8
 24  department_Technology         23490 non-null  uint8
 25  is_promoted                   23490 non-null  int64
dtypes: float64(2), int32(1), int64(8), uint8(15)
memory usage: 2.2 MB

In [66]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employee_id                   23490 non-null  int64
 1   region                        23490 non-null  float64
 2   gender                        23490 non-null  int32
 3   no_of_trainings               23490 non-null  int64
 4   age                           23490 non-null  int64
 5   previous_year_rating          23490 non-null  float64
 6   length_of_service             23490 non-null  int64
 7   KPIs_met >80%                 23490 non-null  int64
 8   awards_won?                   23490 non-null  int64
 9   avg_training_score            23490 non-null  int64
 10  recruitment_channel_other     23490 non-null  uint8
 11  recruitment_channel_referred  23490 non-null  uint8
 12  recruitment_channel_sourcing  23490 non-null  uint8
 13  education_Bachelor's          23490 non-null  uint8
 14  education_Below Secondary     23490 non-null  uint8
 15  education_Master's & above    23490 non-null  uint8
 16  department_Analytics          23490 non-null  uint8
 17  department_Finance            23490 non-null  uint8
 18  department_HR                 23490 non-null  uint8
 19  department_Legal              23490 non-null  uint8
 20  department_Operations         23490 non-null  uint8
 21  department_Procurement        23490 non-null  uint8
 22  department_R&D                23490 non-null  uint8
 23  department_Sales & Marketing  23490 non-null  uint8
 24  department_Technology         23490 non-null  uint8
 25  is_promoted                   23490 non-null  int64
dtypes: float64(2), int32(1), int64(8), uint8(15)
memory usage: 2.2 MB

In [75]:
test["is_promoted"]=reg.predict(test)

In [76]:
tes=test[["employee_id","is_promoted"]]
tes.head()

   employee_id  is_promoted
0         8724            0
1        74430            0
2        72255            0
3        38562            0
4        64486            0

In [77]:
tes["is_promoted"].unique()

array([0, 1], dtype=int64)

In [78]:
tes.to_csv("sun.csv")